.article-card a:has(img) {
  height: 215px;
  overflow: hidden;
}

.article-card a:has(img) img {
  transition: 0.3s;
}

.article-card a:has(img):hover img {
  transform: scale(1.1);
}

.star-rating .star-rating__star {
}
