{% extends 'base.html' %} {% block content %} {% if articles == [] or articles
== None %}

<div class="text-5xl font-extrabold text-center pt-4 pb-4">
  Zatím se vám nelíbil
  <span
    class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
  >
    žádný
  </span>
  článek :(
</div>
{% else %}
<div class="text-5xl font-extrabold text-center pt-4 pb-4">
  Vaše
  <span
    class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
  >
    oblíbené
  </span>
  články
</div>
<div class="flex flex-wrap justify-center gap-4">
  {% from 'macros/articles.macros.html' import render_articles %} {{
  render_articles(articles) }}
</div>

{% endif %} {% endblock %}
